:root{
    --cor-fundo: #01080E ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #e61313;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 200px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 8888px;
    padding: 115px;
    transition: background-color 0.1s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}